@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: Poppins, sans-serif;
    box-sizing: border-box;
}

nav a {
    text-decoration: none;
    color: #FFFFFF;
}

nav {
    background-color: #2E2E2E;
    display: flex;
    justify-content: center;
    column-gap: 32px;
    height: 40px;
    align-items: center;
}

body {
    background-color: #1D1D1D;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
}

header {
    align-self: center;
    text-align: center;
    background-image: url(1.png);
    filter: grayscale(100%);
    background-size: cover;
    height: 360px;
    width: 100%;
    max-width: min(100% - 100px, 768px);
    border-radius: 10px;
    border: 5px solid white;
    /* center all elems */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px;
    padding: 8px;
}



header button {
    background-color: white;
    border-radius: 5px;
    border: 0;
    padding: 6px 12px;
    font-size: 16px;
    font-weight: 600;
    margin-top: 15px;

}

main {
    max-width: min(100% - 100px, 768px);
    align-self: center;
}

main > .about {
    display: flex;
    column-gap: 32px;
    text-align: justify;
    margin-bottom: 50px;
    line-height: 1.8;
}

main .about img {
    filter: grayscale(100%);
    width: 250px;
    border-radius: 10px;
    border: 5px solid white;
   
}

main .service img {
    width: 200px;
    
}

.service {
    column-gap: 32px;
    display: flex;
 
}

.service h4 {
    margin-top: 20px;
}

.center {
    text-align: center;
    margin-top: 20px;
}

footer {
    background-color: #EBDDC8;
    color: black;
    width: 100%;
    text-align: left;
    padding: 32px 120px;
    margin-top: 100px;  
}

footer h4 {
    padding: 5px;
    font-weight: lighter;
}

footer .icon img {
    width: 32px;
    height: 32px;
    margin: 5px;
    margin-top: 20px;
}

footer .copyright {
    text-align: center;
    letter-spacing: 1.5px;
    margin-top: 20px;
    
}


.email {
    background-color: transparent;
    margin-left: 320px;
    padding: 5px;
    padding-left: 10px;
    border-width: 0.1px;
    margin-bottom: 10px;
    border-radius: 2px;
  
}


footer button{
    margin-left: 320px;
    border-radius: 5px;
    border: 0;
    padding: 6px 18px;
    font-size: 16px;
    margin-top: 10px;
}

.a {
    display: flex;
    font-weight: 600;
    padding: 5px;
    margin-bottom: -1em !important;
}

span {
    font-weight: 200;
   
}

a { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:focus { text-decoration: none; }
a:hover, a:active { text-decoration: none; }